<div class="panel panel-default">
    <div class="panel-heading">Topics</div>
    <div class="panel-body">
        <table class="topics-table table-striped">
            <% @topics.each do |topic| %>
                <tr class="topic">
                    <td class="score-container">
                        <%= content_tag(:span, data: { id: topic.id, vote_type: 'up' }, class: ["glyphicon", "glyphicon-arrow-up", "vote-button"]) do %><% end %>
                        <div class="score">
                            <%= topic.score %>
                        </div>
                        <%= content_tag(:span, data: { id: topic.id, vote_type: 'down' }, class: ["glyphicon", "glyphicon-arrow-down", "vote-button"]) do %><% end %>
                    </td>
                    <td>
                        <p class="topic-content">
                            <%= topic.content %>
                        </p>
                        <%= link_to "Show more", topic_path(topic.id) %>                    
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>